<main class="site-index-main content">
  <section class="hero is-medium">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
          Hospitality Management Made Easy
          <span class="subheading">
            Helping forward thinking property managers everywhere to handle millions of bookings each year
          </span>
        </h1>
        <div class="buttons is-justify-content-center">
          <a class="button is-primary" href="">
            14 Day Free Trial
          </a>
          <a class="button is-white is-outlined">
            <span>See Explainer Video</span>
            <span class="icon is-small">
              <i class="fal fa-video"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="site-index-main__pms section">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <h2>
            Property Management System
            <span class="subheading">
              All the Tools You Need to Manage Your Property
            </span>
          </h2>
          <p>Sirvoy is a hotel reservation system and property management system that works for all types of accommodation: hotels, motels, hostels, B&Bs, lodges & guest houses. Your bookings are easily accessible anytime and anywhere. No installations or updates needed.</p>
          <p>We aim to be the most cost-effective and user-friendly hotel reservation system on the market today, starting from only $9/month.</p>
          <a class="button is-primary" href="">See All Features</a>
        </div>
        <div class="pms__img column is-half">

        </div>
      </div>
    </div>
  </section>
</main>